@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

/* Root Variables */
:root {
    /* Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', sans-serif;

    /* Colors */
    --header-bg-color: #FFFFFF;
    --body-bg-color: #E2FBE8;
    --main-color: #5EC269;
    --main-text-color: #212936;
    --secondary-text-color: #4D5562;
    --tertiary-text-color: #3C7E44;
    --button-bg-inactive-color: #F3F4F6;
    --nutrition-bg-color: #F2FDF5;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

/* Header */
.navbar {
    background-color: var(--header-bg-color);
}

a.nav-link {
    color: var(--main-text-color)
}

img.logo {
    width: 2rem;
}

/* Calories Search */
body {
  background-color: #f6fbf4;
}

.logo {
  width: 13em;
  height: 63px;
}

h1 {
  font-weight: 300;
}

h1 strong {
  font-weight: 600;
  color: #4b8673;
}

.inputstyle {
  padding: 20px !important;
}

.whoop {
  background-color: #5fd068;
  width: 8em;
  font-size: 30px !important;
  color: #ffffff;
}

.caloriescont {
  background-color: #ffffff;
  padding: 30px;
}

.caloriescont ul {
  padding: 0px;
}

.caloriescont ul li {
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  width: 80%;
}

.caloriescont h3 {
  color: #4b8673;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 700;
}

.caloriescont h5 {
  color: #4b8673;
}

.servingsize {
  background-color: #000000;
  padding: 10px;
  color: #ffffff;
}